<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/admin/tutorials"><button type="button" class="btn btn-primary btn-lg mb-5 mt-5"> Back to
                        Tutorials</button></a>
                <form method="POST" action="/admin/tutorials/<%= method %>" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= _csrf %>">
                    <% if(item !== ''){ %>
                    <input type="hidden" name="_id" value="<%= item._id %>">
                    <% } %>
                    <fieldset>
                        <% if(item === ''){ %>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" name="title" class="form-control-plaintext" id="title"
                                    placeholder="Title">
                            </div>
                        </div>
                        <% } else{ %>
                        <div class="form-group">
                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" name="title" class="form-control-plaintext" id="title"
                                    placeholder="Title" value="<%= item.title %>">
                            </div>
                        </div>
                        <% } %>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" name="big" type="checkbox" value="big" checked="">
                                big
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1">Album</label>
                            <select class="form-control" id="exampleSelect1" name="album">
                                <option value="Digital Art">Digital Art</option>
                                <option value="3D Modeling">3D Modeling</option>
                            </select>
                        </div>
                        <% if(item === ''){ %>
                        <div class="form-group">
                            <label for="duration" class="col-sm-2 col-form-label">Duration</label>
                            <div class="col-sm-10">
                                <input type="text" name="duration" class="form-control-plaintext" id="duration"
                                    placeholder="Duration">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="link" class="col-sm-2 col-form-label">Link</label>
                            <div class="col-sm-10">
                                <input type="text" name="link" class="form-control-plaintext" id="link"
                                    placeholder="Link">
                            </div>
                        </div>
                        <% } else { %>
                        <div class="form-group">
                            <label for="duration" class="col-sm-2 col-form-label">Duration</label>
                            <div class="col-sm-10">
                                <input type="text" name="duration" class="form-control-plaintext" id="duration"
                                    placeholder="Duration" value="<%= item.duration %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="link" class="col-sm-2 col-form-label">Link</label>
                            <div class="col-sm-10">
                                <input type="text" name="link" class="form-control-plaintext" id="link"
                                    placeholder="Link" value="<%= item.link %>" />
                            </div>
                        </div>
                        <% } %>
                        <% if(item !== ''){ %>
                        <img style="height: 200px; display: block;" src="<%= item.coverImage %>" alt="Card image">
                        <% } %>
                        <div class="form-group">
                            <label for="exampleInputFile">Cover image</label>
                            <input type="file" class="form-control-file" id="exampleInputFile"
                                aria-describedby="fileHelp" name="cover">
                            <small id="fileHelp" class="form-text text-muted">This is some placeholder
                                block-level help text for
                                the above input. It's a bit lighter and easily wraps to a new line.</small>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>

</html>